@mixin font($family, $weight: 400, $style: normal, $optical: false) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-style: $style;

  @if $optical {
    font-optical-sizing: auto;
  }
}

.fontMolengo {
  @include font('Molengo')
}

.fontJosefin {
  @include font("Josefin Sans", 600, normal, true)
}

.fontQuestrial {
  @include font("Questrial", 400, normal, true)
  
}
