.fontMolengo {
  font-family: "Molengo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fontJosefin {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.fontQuestrial {
  font-family: "Questrial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: aliceblue;
  color: #121212;
  box-sizing: border-box;
  @extend .fontMolengo;
}
h1 {
  // @extend .fontJosefin;
  // font-weight: 700;
  @extend .fontQuestrial;
}
h2,
h3,
h4,
h5,
h6 {
  // @extend .fontJosefin;
  @extend .fontQuestrial;
}
