@import "fonts";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: aliceblue;
  color: #121212;
  box-sizing: border-box;

  @extend .fontMolengo;
}

h1 {
  // @extend .fontJosefin;
  @extend .fontQuestrial;

  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  // @extend .fontJosefin;
  @extend .fontQuestrial;
}
