---
import blem from 'blem'
import './Home.scss'

const bem = blem('Home')
---

<div
  id="container"
  class={bem('')}
>
  <main class={bem('main')}>
    <h1 class={bem('hero-title')}>
      My Dad Needs Therapy
    </h1>
    <h2 class={bem('hero-subtitle')}>
      Maybe yours does too!
    </h2>
    <slot />
  </main>
</div>
