.Page {
  padding: 0.5rem;
  margin: 0.25rem;
  width: calc(100% - 2rem);

  &__footer {
    padding: 2rem 0;
    border-top: 1px solid blue;
    font-size: 0.75rem;
    margin: 2rem auto 0;

    p, small { 
      display: inline-block;
    max-width: 60vw;
    margin: 0.5rem auto;
    }
  }
}
