.Template {
  border-top: 1px dashed blue;
  padding: 1rem;
  width: calc(100% - 2rem);
  max-width: 50rem;
  margin: 0 auto;

  &__body {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin: 0;
    border: none;
    outline: 1px dashed blue;
    display: flex;
    min-height: 4rem;
  }

  &__form {
    padding: 0;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__button--save {
    margin-top: 1rem;
  }

  &__meta--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
}
