@import "../styles/button.scss";

.Template {
  border: 1px dashed blue;
  padding: 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;

  &__body {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin: 0;
    border: none;
    outline: 1px dashed blue;
    display: flex;
    min-height: 4rem;
  }

  &__form {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
&__control-panel {
    border: 1px dotted yellow;
    margin: 1rem 0 1rem;
    padding: 0;
    width: 100%;
    min-height: 1rem;
}
  &__button--save {
    @extend %button;
  }

  &__meta--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
}
