---
import blem from 'blem'
const bem = blem('Template')
---

<section id="template" class={bem('')}>
  <aside class={bem('meta', 'description')}>A useful and editable (and printable) template</aside>
  <h2 className={bem('title', 'uncontrolled')} contentEditable="plaintext-only">Dear Dad</h2>
  <textarea class={bem('body', 'uncontrolled')} />
  <button type="submit" class={bem('button', 'save')}>Save</button>
</section>

<!-- script src="../vendor/spinneret.js" /-->
<script src="../browser/helpers.js" />
<script src="../browser/template.js" />
